body{
  margin: 0px;
}
.wrapper {
  margin:auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.main{
    background-size: 761px;
    border:1px solid transparent;
    background-position: 100% 16%;
}
.main__title{
    padding-top: 103px;
}
.main-section {
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 47px;
  font: 700 24px/31px pt_serif , arial, helvetica,sans-serif;
}
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background: #0056EC;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue
{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  border-radius: 50%;
}
.menu{
  margin-left: auto;
  display:flex;
  align-items:center;
}
.menu__item{
  position:relative;
  margin-right: 26px;
  font: 500 18px/21px roboto , arial, helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover{
  opacity:0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 160px 0;
  background: top right no-repeat url(img/1920.svg);
  background-position: 100% 24%;

 }
.main__title{
  margin: 0 0 40px 0;
  font: 700 66px/87px pt-serif;
  margin-bottom: 35px;
 }
.main__text{
  margin: 0 0 41px 0;
  font: 500 22px/25px roboto , arial, helvetica,sans-serif;
  max-width: 433px;
  margin-bottom: 43px;
 }
.main__button{
  display: inline-block;
  padding: 18px 29px;
  font: 500 18px/21px roboto , arial, helvetica,sans-serif;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
 }
.main__title-text_highlight{
  background: #ECF3FF;
 }
 #checkbox{
   display: none;
 }
 .minu{
   display: none;
 }
@media(max-width:1366px){
  .header{
    margin-bottom: 85px;
    padding-left: 80px;
  }
  .menu{
    padding-right: 86px;
    padding-top: 9px;
  }
  .menu__item{
    font: 500 14px/16px roboto , arial, helvetica,sans-serif;
  }
  .main {
    padding-top: 15px;
    margin-left: 80px;
    padding-left: 80px;
    padding: 0 57% 23px 0;
    background: top right no-repeat url(img/1366.svg);
    background-position: 84% 1%;
 }
 .main__button{
   padding: 14px 22px;
   font: 500 14px/16px roboto , arial, helvetica,sans-serif;
 }
 .main__text{
   font: 500 18px/21px roboto , arial, helvetica,sans-serif;
   margin-bottom: 44px;
 }
.main__title{
    margin: 0 0 40px 0;
    font: 700 50px/66px pt-serif;
    margin-bottom: 36px;
    padding-top: 15px;
 }
 }
 @media(max-width:1024px){
   .wrapper{
     margin: 0;
     width: 96%;
   }
   .menu{
     padding-right: 4px;
     padding-top: 9px;}
   .main{
     background: top right no-repeat url(img/1024.svg);
   }
   .logo{
     padding-left: 10px;
   }
   .logo__circle{
     right: 161px;
   }
   .logo__circle_color_blue{
     right: 153px;
   }
 }
@media (max-width:768px){
.logo{
  right: 93px;
  padding: 40px 0;
}
.menu {
   display:none;
  }
  .header{
  margin-bottom:7px;
  }
  .main{
  text-align: center;
  padding: 74% 0 0;
  background-size: 74%;
  background-position: top center;
  background: top right no-repeat url(img/765.svg);
  margin-left: 0px;
  }
  .main__title{
    margin-bottom:34px;
    font: 700 30px/39px pt-serif;
    padding-top: 37px;
  }
  .main__text{
    margin-bottom:25px;
    font: 500 16px/19px roboto , arial, helvetica,sans-serif;
    max-width: 240px;
    margin: 0px auto 25px;
    }
  .main__button{
    font:500 14px/16px roboto;
  }
  .logo_2{
    display: none;
  }
  #checkbox{
    display:none;
  }
  .first{
    position: absolute;
   height: 3px;
   width: 25px;
   background: #0056EC;
   top: 32px;
   z-index: 1;
   right: 24px;
   transition-duration: .25s;
  }
  .second{
    position: absolute;
    height: 3px;
   width: 25px;
   background: #0056EC;
   top: 39px;
   right: 24px;
   z-index: 2;
   transition-duration: .25s;
   }
  .therd{
    position: absolute;
    height: 3px;
   width: 25px;
   background: #0056EC;
   top: 46px;
   right: 24px;
   z-index: 3;
   transition-duration: .25s;
  }
  #checkbox:checked ~ label .first{
    margin-top: 7px;
    transform: rotate(45deg);
    transition-duration: .25s;
  }
  #checkbox:checked ~ label .second{
    display: none;
  }
  #checkbox:checked ~ label .therd{
    margin-top: -7px;
    transform: rotate(-45deg);
    transition-duration: .25s
  }
  .menu{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -10000px;
    top: 0px;
    background: #fff;
    padding-top: 185px;
  }
  #checkbox:checked ~ .menu{
    left: 0px;
    width: 100%;
    height: 100%;
    font: 500 30px/35px roboto;
  }
.menu__item{

  font: 500 30px/35px roboto;
}
.menu__item:last-child{
  margin-bottom: : 0;
